﻿
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveAttandance = "active";
}
<link href="~/Content/MemberRegStyle.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 41%;
    }
</style>

<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Attendance</li>
        </ul>
    </div>
</div>

<div class="bottom-30px">
    <a class="btn btn-primary" onclick="ManualAttandance()"><i class="fa fa-plus-square"></i> Manual Attendance</a>

    @*<nav class="main-content-nav pull-right">
            <ul class="list-inline">
                <li><p><i class="fa fa-files-o"></i> Total Employee : 200</p></li>
            </ul>
        </nav>*@
</div>
@*Bootstrap Model Design For Manual Attandance*@
<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Manual Attendance</h3>
            </div>
            <div class="modal-body">
                <form id="AttandanceFrom" method="post">
                    <div class="form-group">
                        @*@{ 
                            var currentDate = DateTime.Now.Date;
                        }*@
                        <label for="DateTime"> Date & Time  <strong>*</strong> <b> :</b></label>
                        <input data-val="true" class="form-control" type="datetime-local"
                               data-val-required="Enter Attendance Date & Time!" name="DateTime" id="DateTime" />
                        <span class="field-validation-valid" data-valmsg-for="DateTime" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="EmpId">Employee Id <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="text"
                               data-val-required="Enter Employee Id!" name="EmpId" id="EmpId" placeholder="Employee Id" />
                        <span class="field-validation-valid" data-valmsg-for="EmpId" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group radioBtn">
                        <label for="Gender"> Time In/Out <b> :</b></label><br />
                        <input type="radio" name="TimeInTimeOut" value="Time In" id="TimeIn" checked/> Time In
                        <input type="radio" name="TimeInTimeOut" value="Time Out" id="TimeOut" /> Time Out
                    </div>
                    <div class="form-group">
                        <a class="btn submit btn1" href="#" onclick="Save()">Svae</a>
                        <a class="btn submit btn2" href="#" onclick="Reset()">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Attendance Info (Current Month)</h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Emp. Id</th>
                    <th>Name</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Working Min</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@section scripts {
    <script>
        function ManualAttandance() {
            $("#ShowModal").modal();
        }
        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Attendance/CurrentMonthAttendance",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [
                    { data: 'AttDate' },
                    { data: 'EmpId' },
                    { data: 'Name' },
                    { data: 'TimeIn' },
                    { data: 'TimeOut' },
                    { data:'WorkingMin'}
                ]
            });

        });
        function Save() {
            $(".field-validation-valid").show();

            var data = $("#AttandanceFrom").serialize();
            if (!$("#AttandanceFrom").valid()) {
                return false;
            }

            $.ajax({
                type: "Post",
                url: "/Attendance/SaveOrUpdateAttendnce",
                data: data,
                success: function (response) {
                    if (response.Success) {
                        var attandanceInfo = '<ul>' +
                            '<li> Employee Id : ' + $("#EmpId").val() + '</li>' +
                            '<li> Date & Time : ' + $("#DateTime").val() + '</li>' 
                            + '</ul';
                        swal(response.Message, '' + attandanceInfo + '', 'success');
                        Reset();
                        console.log('reload');
                        $('#featured-datatable').DataTable().ajax.reload(null, false);
                    }
                    else {
                        swal('Error', '' + response.Message + '', 'error');
                    }
                }
            });

            return true;

        }
        function Reset() {
            $("#AttandanceFrom")[0].reset();
            $(".field-validation-valid").hide();
        }
    </script>
}
