﻿
@{
    ViewBag.Title = "Over Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveOverTime = "active";
}

<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Over Time</li>
        </ul>
    </div>
</div>

<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Over Time Info (Current Month)</h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Emp. Id</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Hours</th>
                    <th>Rate</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    <script>
        
        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Attendance/CurrentMonthOverTimeReport",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [
                    { data: 'AttDate' },
                    { data: 'EmpId' },
                    { data: 'Name' },
                    { data: 'Designation' },
                    { data: 'WorkingMin' },
                    { data: 'Rate' }
                ]
            });

        });
    </script>
}

