﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b> From ABC COM.</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            Hi Dear
                Plase Change Your Password And Active Your Id! Thank You For Join With Us. 
                click<a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
</body>
</html>
