﻿
@{
    ViewBag.Title = "Advance Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActivePayroll = "active";
    ViewBag.OpenPayrollpen = "open";
    HtmlHelper.ClientValidationEnabled = true;
}
<link href="~/Content/MemberRegStyle.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 41%;
    }
</style>
<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Advance Payment</li>
        </ul>
    </div>
</div>
<div class="bottom-30px">
    <a class="btn btn-primary" onclick="NewAdvance()"><i class="fa fa-plus-square"></i> Advance</a>

    @*<nav class="main-content-nav pull-right">
            <ul class="list-inline">
                <li><p><i class="fa fa-files-o"></i> Total Employee : 200</p></li>
            </ul>
        </nav>*@
</div>
<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Advance Payment Info </h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable" style="width:100%">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Emp. Id</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Adjust with Salary (Per Month)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@*Bootstrap Model Design For Add New Employee*@
<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Advance Form</h3>
            </div>
            <div class="modal-body">
                <form id="AdvanceFrom" method="post">
                    <div class="form-group">
                        <label for="Date">Date <strong>*</strong> <b> :</b></label>
                        <input data-val="true" class="form-control" type="date"
                               data-val-required="Enter Advance Payment Date" name="Date" id="Date" />
                        <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="EmpId">Employee Id <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="text" name="EmpId" id="EmpId"
                               data-val-required="Enter Employee Id" placeholder="Employee Id" />
                        <span class="field-validation-valid" data-valmsg-for="EmpId" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name <strong>*</strong> <b> :</b></label>
                        <input class="form-control" type="text" name="Name" id="Name" placeholder="Employee Name" />
                    </div>
                    <div class="form-group">
                        <label for="Amount">Amount <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="number" name="Amount" id="Amount"
                               data-val-required="Enter Advance Amount" placeholder="Amount" />
                        <span class="field-validation-valid" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="AdjustAmount">Adjust Amount (Per Month) <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="number" name="AdjustAmount" id="AdjustAmount"
                               data-val-required="Enter Adjust Amount" placeholder="Adjust Amount" />
                        <span class="field-validation-valid" data-valmsg-for="AdjustAmount" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn submit btn1" href="#" onclick="Save()">Submit</a>
                        <a class="btn submit btn2" href="#" onclick="Reset()">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function NewAdvance() {
            $("#ShowModal").modal();
        }
        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Transaction/GetAllAdvancePaymentInfo",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [
                    {
                        data: 'Date',
                        render: function (data) {
                            var milli = data.replace(/\/Date\((-?\d+)\)\//, '$1');
                            var d = new Date(parseInt(milli));
                            var date = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear()
                            return date;
                        }
                    },
                    { data: 'Employee.EmployeeId' },
                    {
                        data: "Employee",
                        render: function (data) {
                            return data.FirstName + ' ' + data.LastName;
                        },
                        editField: ['Employee.FirstName', 'Employee.LastName']
                    },
                    { data: 'Amount' },
                    { data: 'AdjustAmount' }
                ]
            });

        });
        function Save() {
            $(".field-validation-valid").show();

            var data = $("#AdvanceFrom").serialize();
            if (!$("#AdvanceFrom").valid()) {
                return false;
            }

            $.ajax({
                type: "Post",
                url: "/Transaction/SaveOrUpdateAdvancePayment",
                data: data,
                success: function (response) {
                    if (response.Success) {
                        var andvanceInfo = '<ul>' +
                            '<li> Employee Id : ' + $("#EmpId").val() + '</li>' +
                            '<li> Employee Name : ' + $("#Name").val() + '</li>' +
                            '<li> Advance Amt. : ' + $("#Amount").val() + '</li>'
                            + '</ul';
                        swal(response.Message, '' + andvanceInfo + '', 'success');
                        Reset();
                        console.log('reload');
                        $('#featured-datatable').DataTable().ajax.reload(null, false);
                    }
                    else {
                        swal('Error', '' + response.Message + '', 'error');
                    }

                }
            });
            return true;
        }
        function Reset() {
            $("#AdvanceFrom")[0].reset();
            $(".field-validation-valid").hide();
        }
    </script>
}



