﻿
@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActivePayroll = "active";
    ViewBag.OpenPayrollpen = "open";
}

<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Salary</li>
        </ul>
    </div>
</div>

<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Salary Info </h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>Emp. Id</th>
                    <th>Name</th>
                    <th>Total Salary</th>
                    <th>Deduction</th>
                    <th>Advance Cash</th>
                    <th>Net Pay</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
@section scripts {
    <script>

        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Transaction/CurrentMonthSalaryReport",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [
                    { data: 'EmpId' },
                    { data: 'Name' },
                    { data: 'BasicSalary' },
                    { data: 'Deduction' },
                    { data: 'AdvanceCash' },
                    {
                        data: null,
                        render: function (data) {
                            return data.BasicSalary - (data.Deduction + data.AdvanceCash);
                        }
                    }
                ]
            });

        });
    </script>
}


