﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="erm">
    <meta name="author" content="The Develovers">

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    
    @*<link href="~/Content/transparent.css" rel="stylesheet" />*@
    <link href="~/Content/my-custom-styles.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    @*<link href="~/Content/style-switcher.css" rel="stylesheet" />*@
</head>
<body class="sidebar-fixed topnav-fixed dashboard2">
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        <div class="top-bar navbar-fixed-top">
            <div class="container">
                <div class="clearfix">
                    <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                    <!-- logo -->
                    <div class="pull-left left logo">
                        @*<a href="index.html"><img src="" alt="Admin Dashboard" /></a>*@
                        <h1 class="sr-only"> Employee Dashboard</h1>
                    </div>
                    <!-- end logo -->
                    <div class="pull-right right">

                        <!-- top-bar-right -->
                        <div class="top-bar-right">

                            <!-- logged user and the menu -->
                            <div class="logged-user">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                        @*@if (User.Identity.IsAuthenticated)
                                            {
                                                <img src="" alt="User Avatar" />
                                                                            }*@
                                        <span class="name">
                                            @if (Session["EmpName"] != null)
                                            {@Session["EmpName"].ToString(); }
                                        </span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="/Employee/EmployeeProfile">
                                                <i class="fa fa-user"></i>
                                                <span class="text">Profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            @{
                                                var data = (User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest");
                                            }
                                            <a href="/Employee/ChangeEmployeePassword/?employeeId=@data.ToString().Trim()">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Account/EmpLogout">
                                                <i class="fa fa-power-off"></i>
                                                <span class="text">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end logged user and the menu -->
                        </div>
                        <!-- end top-bar-right -->
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        <div id="left-sidebar" class="left-sidebar ">
            <!-- main-nav -->
            <div class="sidebar-scroll">
                <nav class="main-nav">
                    <ul class="main-menu">
                        <li class="@ViewBag.ActiveEmpDashboard"><a href="/Dashboard/EmployeeDashboard"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard </span></a></li>
                        <li class="@ViewBag.ActiveEmpLeave"><a href="/Employee/LeaveApplication"><i class="fa fa-tasks"></i><span class="text">Leave Application</span></a></li>

                    </ul>
                </nav>
                <!-- /main-nav -->
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper ">
            @RenderBody()
            <!-- FOOTER -->
            <footer class="footer">
                &copy; 2019 The Develovers
            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr.js"></script>
    <script src="~/Scripts/bootstrap-tour.custom.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/king-common.js"></script>
    <script src="~/Scripts/deliswitch.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.colReorder.min.js"></script>
    <script src="~/Scripts/dataTables.colVis.bootstrap.js"></script>
    <script src="~/Scripts/dataTables.tableTools.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery.flot.min.js"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/jquery.flot.time.min.js"></script>
    <script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/king-chart-stat.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>

    @RenderSection("scripts", false)

    @*<script src="~/Scripts/king-chart-stat-transparent.js"></script>*@

</body>
</html>