﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="erm">
    <meta name="author" content="The Develovers">

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/transparent.css" rel="stylesheet" />*@
    <link href="~/Content/my-custom-styles.css" rel="stylesheet" />
    @*<link href="~/Content/style-switcher.css" rel="stylesheet" />*@
</head>
<body class="sidebar-fixed topnav-fixed dashboard2">
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        <div class="top-bar navbar-fixed-top">
            <div class="container">
                <div class="clearfix">
                    <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                    <!-- logo -->
                    <div class="pull-left left logo">
                        @*<a href="index.html"><img src="" alt="Admin Dashboard" /></a>*@
                        <h1 class="sr-only"> Admin Dashboard</h1>
                    </div>
                    <!-- end logo -->
                    <div class="pull-right right">

                        <!-- top-bar-right -->
                        <div class="top-bar-right">

                            <!-- logged user and the menu -->
                            <div class="logged-user">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                        <span class="name">
                                            @if (Session["AdminName"] != null)
                                            {@Session["AdminName"].ToString();}
                                        </span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="/Admin/AdminProfile">
                                                <i class="fa fa-user"></i>
                                                <span class="text">Profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Account/AdminLogout">
                                                <i class="fa fa-power-off"></i>
                                                <span class="text">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end logged user and the menu -->
                        </div>
                        <!-- end top-bar-right -->
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        <div id="left-sidebar" class="left-sidebar ">
            <!-- main-nav -->
            <div class="sidebar-scroll">
                <nav class="main-nav">
                    <ul class="main-menu">
                        <li class="@ViewBag.ActiveAdminDashboard"><a href="/Dashboard/AdminDashboard"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard </span></a></li>
                        <li class="@ViewBag.ActiveAttandance"><a href="/Attendance/GetAttendanceInfo"><i class="fa fa-briefcase"></i><span class="text">Attendance</span></a></li>
                        <li class="@ViewBag.ActiveOverTime"><a href="/Attendance/GetOverTimeInfo"><i class="fa fa-briefcase"></i><span class="text">Over Time</span></a></li>
                        <li class="@ViewBag.ActiveEmployee"><a href="/Employee/Index"><i class="fa fa-tasks"></i><span class="text">Employee Info</span></a></li>
                        <li class="@ViewBag.ActiveDesignation"><a href="/Employee/Designation"><i class="fa fa-tasks"></i><span class="text">Designation</span></a></li>
                        <li class="@ViewBag.ActiveDeduction"><a href="/Deduction/Deduction"><i class="fa fa-briefcase"></i><span class="text">Deduction</span></a></li>
                        <li class="@ViewBag.ReviewLeaveApp"><a href="/Admin/ReviewLeaveApplication"><i class="fa fa-tasks"></i><span class="text">Leave Application <sup style="color:red" id="PendindApplication"> 0 </sup></span></a></li>
                        <li class="@ViewBag.ActivePayroll">
                            <a href="#" class="js-sub-menu-toggle">
                                <i class="fa fa-table fw"></i><span class="text">Payroll</span>
                                <i class="toggle-icon fa fa-angle-left"></i>
                            </a>
                            <ul class="sub-menu @ViewBag.OpenPayrollpen">
                                <li><a href="/Transaction/GetSalaryInfo"><span class="text">Salary</span></a></li>
                                <li><a href="/Transaction/AdvancePayment"><span class="text">Advance Cash</span></a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("Super Admin"))
                        {
                            <li class="@ViewBag.ActiveAdmin"><a href="/Admin/Admin"><i class="fa fa-tasks"></i><span class="text">Admin</span></a></li>
                        }
                    </ul>
                </nav>
                <!-- /main-nav -->
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper ">
            @RenderBody()
            <!-- FOOTER -->
            <footer class="footer">
                &copy; 2019 The Develovers
            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr.js"></script>
    <script src="~/Scripts/bootstrap-tour.custom.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/king-common.js"></script>
    <script src="~/Scripts/deliswitch.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.colReorder.min.js"></script>
    <script src="~/Scripts/dataTables.colVis.bootstrap.js"></script>
    <script src="~/Scripts/dataTables.tableTools.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery.flot.min.js"></script>
    <script src="~/Scripts/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/jquery.flot.time.min.js"></script>
    <script src="~/Scripts/jquery.flot.tooltip.min.js"></script>
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/king-chart-stat.js"></script>

    @RenderSection("scripts", false)

    @*<script src="~/Scripts/king-chart-stat-transparent.js"></script>*@

</body>
</html>