﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>@ViewBag.LoginTitle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="erm">
    <meta name="author" content="The Develovers">

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/MemberRegStyle.css" rel="stylesheet" />
    @*<link href="~/Content/transparent.css" rel="stylesheet" />*@
</head>
<body>

    @RenderBody()
    <!-- FOOTER -->
    <footer class="footer">
        &copy; 2019 The Develovers
    </footer>
    <!-- END FOOTER -->
    <!-- Javascript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
