﻿
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveAdminDashboard = "active";
}

<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Admin Dashboard</li>
        </ul>
    </div>

    <div class="col-lg-8 ">
        <div class="top-content">
            <ul class="list-inline quick-access">
                <li>
                    <a href="">
                        <div class="quick-access-item bg-color-green">
                            <i class="fa fa-table"></i>
                            <h5>TODAY ATT. EMPLOYEE</h5><em>@ViewBag.TodayAttendEmp</em>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="quick-access-item bg-color-blue">
                            <i class="fa fa-bar-chart-o"></i>
                            <h5>TODAY WORK TIME(H)</h5><em>@ViewBag.TodayWorkTime</em>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="tables-dynamic-table.html">
                        <div class="quick-access-item bg-color-orange">
                            <i class="fa fa-bar-chart-o"></i>
                            <h5>TODAY LOST TIME(H)</h5><em>@ViewBag.TodayLostTime</em>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<nav class="main-content-nav pull-right">
    <ul class="list-inline">
        <li><p><i class="fa fa-files-o"></i> Total Employee : @ViewBag.TotalEmp</p></li>
    </ul>
</nav>

<div class="row">
    <div class="col-md-12">
        <div class="widget widget-table">
            <div class="widget-header">
                <h3><i class="fa fa-table"></i> Recent Join Employee Info.</h3>
            </div>
            <div class="widget-content">
                <table id="EmployeeDataTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Employee Id</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Join Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget widget-table">
            <div class="widget-header">
                <h3><i class="fa fa-table"></i> All Attendence Info.</h3>
            </div>
            <div class="widget-content">
                <table id="featured-datatable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Employee Id</th>
                            <th>Name</th>
                            <th>Attendence Hour</th>
                            <th>Salary</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("#EmployeeDataTable").DataTable({
            ajax: {
                url: "/Employee/GetAllRecntJoinEmp",
                dataSrc: ''
            },
            colReorder: {
                realtime: true
            },
            "aoColumns": [
                { data: 'EmployeeId' },
                {
                    data: null,
                    render: function (data) {
                        return data.FirstName + ' ' + data.LastName;
                    }
                },
                { data: 'Designation.Title' },
                {
                    data: 'JoinDate',
                    render: function (data) {
                        var milli = data.replace(/\/Date\((-?\d+)\)\//, '$1');
                        var d = new Date(parseInt(milli));
                        var date = d.getDate() + "-" + (d.getMonth() + 1) + "-" + d.getFullYear()
                        return date;
                    }
                }
            ]
        });
    </script>
}

