﻿@model EMS.Entities.ViewModel.ViewModelEmployeeDashboard
@{
    ViewBag.Title = "Employee Dashboard";
    Layout = "~/Views/Shared/_EmpLayout.cshtml";
    ViewBag.ActiveEmpDashboard = "active";
}

<div class="row">
    <div class="col-md-3">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Employee Dashboard</li>
        </ul>
    </div>
</div>

@*<div class="col-lg-2 ">
        <div class="top-content">
            <ul class="list-inline quick-access">
                <li>
                    <a href="">
                        <div class="quick-access-item bg-color-orange">
                            <i class="fa fa-table"></i>
                            <h5>JOIN DATE</h5><em>1-1-2019</em>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
<div class="row">
    <div class="col-md-12">
        <div class="widget widget-table">
            <div class="widget-header">
                <h3><i class="fa fa-table"></i>Your Attendence Info.</h3>
            </div>
            <div class="widget-content">
                <table id="featured-datatable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Time In</th>
                            <th>Time Out</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget widget-table">
            <div class="widget-header">
                <h3><i class="fa fa-table"></i>All Appplication List</h3>
            </div>
            <div class="widget-content">
                <table id="featured-datatable-appication" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Application</th>
                            <th>Application Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ApplicationsDetails != null)
                        {
                            foreach (var data in Model.ApplicationsDetails)
                            {
                                <tr>
                                    <td>@data.Date</td>
                                    <td><a href="/Employee/ApplicationDetails/?id=+@data.Id+" target="_blank">Leave Aplication by @data.Employee.FirstName</a></td>
                                    <td>@data.Status</td>
                                </tr>

                            }

                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $("#featured-datatable-appication").DataTable();
    </script>
}

