﻿@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveAdmin = "Active";
    HtmlHelper.ClientValidationEnabled = true;
    List<EMS.Entities.Role> roles = ViewBag.Role;
}
<link href="~/Content/MemberRegStyle.css" rel="stylesheet" />
<style>
    .form-group {
        margin-bottom: 18px;
    }

    .btn {
        margin-top: 0px;
    }

    .swal2-popup #swal2-content {
        margin-left: 20%;
        text-align: left;
        font-size: 15px;
        color: #2a547b;
        line-height: 1.5;
        font-family: serif;
    }

    .swal2-popup {
        width: 50em !important;
        padding: 2em !important;
    }

    .modal-dialog {
        width: 41%;
    }
</style>
<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Admin</li>
        </ul>
    </div>
</div>
<div class="bottom-30px">
    <a class="btn btn-primary" onclick="AddNewAdmin()"><i class="fa fa-plus-square"></i> Add New Admin</a>

    @*<nav class="main-content-nav pull-right">
            <ul class="list-inline">
                <li><p><i class="fa fa-files-o"></i> Total Employee : 200</p></li>
            </ul>
        </nav>*@
</div>
<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Admin Info </h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Admin Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile No.</th>
                    <th>Role</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*Bootstrap Model Design For Add New Employee*@
<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Admin Registration Form</h4>
            </div>
            <div class="modal-body">
                <form id="RegFrom" method="post">
                    <input type="hidden" id="Id" name="Id" value="0" />
                    <div class="form-group">
                        <label for="Id">Admin Id <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="text" name="AdminId" id="AdminId"
                               data-val-required="Admin Id Is Required!" placeholder="Admin Id" readonly />
                        <span class="field-validation-valid" data-valmsg-for="AdminId" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Name">Name <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="text" name="Name" id="Name"
                               data-val-required="Name Is Required!" placeholder="Name" />
                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Mobile">Mobile No. <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="tel" name="MobileNo" id="MobileNo"
                               data-val-required="Mobile No. Is Required!" placeholder="Mobile" />
                        <span class="field-validation-valid" data-valmsg-for="MobileNo" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Role">Role <strong>*</strong> <b> :</b></label>
                        <select class="form-control" data-val="true" id="RoleId" name="RoleId" data-val-required="Role Is Required!">
                            @foreach (var role in roles)
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="RoleId" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="email" name="Email" id="Email"
                               data-val-required="Email Is Required!" placeholder="Email" />
                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="password" name="Password" id="Password"
                               data-val-required="Password Is Required!" placeholder="Password" />
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn submit btn1" href="#" onclick="Save()">Submit</a>
                        <a class="btn submit btn2" href="#" onclick="Reset()">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function AddNewAdmin() {
            $("#ShowModal").modal();
            GetAdminId();
        };
        function GetAdminId() {
            $.ajax({
                type: 'Get',
                url: '/Admin/GetAdminId',
                success: function (adminId) {
                    $("#AdminId").val(adminId);
                }
            });
        }
        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Admin/GetAll",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [
                   
                    { data: 'AdminId' },
                    { data: 'Name' },
                    { data: 'Email' },
                    { data: 'MobileNo' },
                    { data: 'Role.Name' },
                ]
            });

        });
        function Save() {
            $(".field-validation-valid").show();

            var data = $("#RegFrom").serialize();
            if (!$("#RegFrom").valid()) {
                return false;
            }

            $.ajax({
                type: "Post",
                url: "/Admin/SaveOrUpdate",
                data: data,
                success: function (response) {

                    var adminInfo = '<ul>' +
                        '<li> Admin Id. : ' + $("#AdminId").val() + '</li>' +
                        '<li> Name : ' + $("#Name").val() + '</li>' +
                        '<li> Email : ' + $("#Email").val() + '</li>' +
                        '<li> Mobile No. : ' + $("#MobileNo").val() + '</li>'
                        + '</ul';

                    swal(
                        response,
                        '' + adminInfo + '',
                        'success'
                    );

                    Reset();
                    console.log('reload');
                    $('#featured-datatable').DataTable().ajax.reload(null, false);
                }
            });

            return true;

        }
        function Reset() {
            $("#RegFrom")[0].reset();
            $(".field-validation-valid").hide();
            GetAdminId();
        }
    </script>
}


