﻿@model EMS.Entities.Admin
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/profile.css" rel="stylesheet" />
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            @*<div class="col-md-4">
                <div class="profile-img">
                    <img src="../AppFile/Images/user.jpg" />
                </div>
                <div class="profile-head">
                    <h4>
                        @Model.Name
                    </h4>
                    <h5>
                        @Model.Role.Name
                    </h5>
                </div>
            </div>*@
            <div class="col-md-6">
                <div class="profile-work">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Admin Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.AdminId</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Role</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.Role.Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.MobileNo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8">

                </div>
            </div>*@
    </form>
</div>

