﻿@model EMS.Entities.ApplicationDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application Details</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top:30px;font-size:13px">
        @if (Model != null)
        {
            <p style="color:#88a0f7;"> Date : @Model.Date</p>
            <p style="color:#88a0f7;"> Application By : ID : @Model.Employee.EmployeeId ; Name : @Model.Employee.FirstName @Model.Employee.LastName</p><br />
            @Html.Raw(Model.Application);
        }
    </div>
</body>
</html>
