﻿@model EMS.Entities.ViewModel.ViewModelEmployeeDashboard
@{
    ViewBag.Title = "ReviewLeaveApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ReviewLeaveApp = "active";
}

<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> All Application Info  </h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Application Date</th>
                    <th>Application</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ApplicationsDetails != null)
                {
                    foreach (var data in Model.ApplicationsDetails)
                    {
                        
                        <tr>

                            <td>@data.Date</td>
                            <td><a href="/Admin/ApplicationDetails/?id=+@data.Id+" target="_blank">Leave Aplication by @data.Employee.FirstName</a></td>
                            <td>@data.Status</td>
                            <td>
                                <a href="#" onclick="AcceptApplication(@data.Id)"><i class="fa fa-check"></i> Accept  </a>  |
                                <a href="#"  onclick="RejectApplication(@data.Id)"><i class="fa fa-times"></i> Reject </a>
                            </td>
                        </tr>

                    }

                }
            </tbody>

        </table>
    </div>
</div>
<script>
    function RejectApplication(id) {
        var json = { Id: id, status:"Rejected"};
        $.ajax({
            type: "POST",
            url: '/Admin/ReviewLeaveApp',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function (result) {

                swal(
                    "Rejected",
                    '' + result + '',
                    'success'
                );

            }
        });
    }

    function AcceptApplication(id) {
        var json = { Id: id, status: "Accepted" };
        $.ajax({
            type: "POST",
            url: '/Admin/ReviewLeaveApp',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function (result) {

                swal(
                    "Accepted",
                    '' + result + '',
                    'success'
                );

            }
        });
    }
</script>

