﻿body {
}

section {
    clear: both;
}

#MemberReg {
    box-shadow: 1px 6px 12px 4px #808080;
    /*margin: 25px 0px 24px 0px;*/
    background-color: #F3F3F3;
    /*min-height: 880px;
    max-height: 1670px;
    margin-top: 40px;
    margin-bottom: 40px;*/
}

.FormHead {
    background-color: #A31112;
    padding: 1px 1px;
    color: #fff;
    text-align: center;
}

#RegFrom, #DeductionFrom, #DesignationFrom {
    padding: 15px 30px;
}

    #DeductionFrom input, #DesignationFrom input, #RegFrom input, select {
        margin-bottom: 15px;
        height: 35px;
        /*width: 290px;*/
        margin-bottom: 10px;
        padding: 2px 7px;
        border-radius: 3px;
    }

    #RegFrom .radioBtn input {
        height: 15px;
        width: 15px;
        margin-top: 5px;
        margin-bottom: 14px;
    }

.thumbnail {
    margin-top: 20px;
}

#image {
    width: 190px;
    height: 190px;
    image-resolution: 300dpi;
}

#RegFrom legend {
    border-bottom: 1px solid #b8c3c9;
}

#RegFrom strong {
    color: #A31112;
}

#RegFrom textarea {
    padding: 2px 10px;
    margin-bottom: 15px;
}

.btn1 {
    background-color: #16A05D;
    color: #fff;
}

.btn2 {
    background-color: #A31112;
    color: #fff;
    margin-left: 15px;
}

.btn:hover {
    color: #d3dae0;
}

.FormFooter {
    background-color: #A31112;
    padding: 1px 1px;
    color: #fff;
    text-align: center;
}
/* styles for validation helpers */
input.input-validation-error, textarea.parsley-error, select.parsley-error {
    background: #FAEDEC;
    border: 1px solid #E85445;
}

.field-validation-error {
    color: #E74C3C;
    padding-left: 0;
}

.valid {
    background-color: #DFF0D8;
    border: 1px solid #26b975;
}

.swal2-popup #swal2-content {
    margin-left: 20%;
    text-align: left;
    font-size: 15px;
    color: #2a547b;
    line-height: 1.5;
    font-family: serif;
}

.swal2-popup {
    width: 50em !important;
    padding: 2em !important;
}