﻿@model EMS.Security.LoginStatus
@{

    ViewBag.LoginTitle = "AdminLogin";
    Layout = "~/Views/Shared/_Login.cshtml";
    HtmlHelper.ClientValidationEnabled = true;
}

<div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
        <div class="login-box center-block">
            <img class="topImg" src="~/Content/Images/lock-icon.png" />
            @if (Model != null)
            {
                <ul id="msg" style="color:Red">
                   <li>
                       @Model.Message
                   </li>
                </ul>
            }
            @using (Html.BeginForm("AdminLogin", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @*<form id="LogForm" class="form-horizontal" method="post">*@
                <div class="form-group">
                    <label for="AdminId" class="control-label sr-only">Employee Id</label>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" data-val="true" placeholder="Admin Id" id="AdminId" name="AdminId"
                                   data-val-required="Enter Admin Id!" class="form-control">
                            <span class="input-group-addon "><i class="fa fa-user"></i></span>
                        </div>
                        <span class="field-validation-valid" data-valmsg-for="AdminId" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <label for="Password" class="control-label sr-only">Password</label>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="password" data-val="true" placeholder="Password" id="Password" name="Password"
                                   data-val-required="Enter Password!" class="form-control">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        </div>
                        <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <label class="fancy-checkbox">
                    <input checked="checked" value="true" type="checkbox" id="RememberMe" name="RememberMe">
                    <input name="RememberMe" type="hidden" value="false" />
                    <span>Remember me next time</span>
                </label>
                @*<button></button>*@
                <input class="btn btn-custom-primary btn-block btn-auth" type="submit" value="Login" />
                @*<i class=""></i>*@
                @*</form>*@
                <div class="links">
                    <p><a href="#">Forgot Admin Id or Password?</a></p>
                </div>
            }

        </div>
    </div>
</div>

@*@if (msg != null)
{
    @section scripts{
        <script type="text/javascript">
            $(function () {
                alert(msg)
            });
        </script>
    }

}*@

@*section scripts {

        <script>
                $(document).ready(function () {
                    var data = @ViewBag.Massage;
                    if (data != null) {
                        alert(data);
                    }
                });
                //function Login() {
                //    $(".field-validation-valid").show();

                //    //var data = $("#LogForm").serialize();
                //    if (!$("#LogForm").valid()) {
                //        return false;
                //    }
                //    var data = {
                //        "userid": $("#AdminId").val(),
                //        "password": $("#Password").val(),
                //        "rememberme": $("#RememberMe").prop("checked")
                //    };

                //    $.ajax({
                //        type: "Post",
                //        url: "/Account/AdminLogin",
                //        data: data,
                //        success: function (status) {

                //            if (status.Success) {
                //                window.location.href = status.TargetURL;
                //            }
                //            else {
                //                alert(status.Message);
                //            }
                //        }
                //    });
                //    return true;
                //}
            </script>
    }*@

