﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "TestIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (User.Identity.IsAuthenticated)
{
    <h1>Welcome user @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</h1>
    <a href="@Url.Action("SignOut","Account")">Logout</a>
}

