﻿
@{
    ViewBag.Title = "Designation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveDesignation = "active";
    HtmlHelper.ClientValidationEnabled = true;
}

<link href="~/Content/MemberRegStyle.css" rel="stylesheet" />
<style>
    .modal-dialog {
        width: 41%;
    }
</style>
<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Designation</li>
        </ul>
    </div>
</div>
<div class="bottom-30px">
    <a class="btn btn-primary" onclick="AddNewDesignation()"><i class="fa fa-plus-square"></i> Add New Designation</a>

    @*<nav class="main-content-nav pull-right">
            <ul class="list-inline">
                <li><p><i class="fa fa-files-o"></i> Total Employee : 200</p></li>
            </ul>
        </nav>*@
</div>
<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Designation & Salary  </h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Designation</th>
                    <th>Basic Salary</th>
                    <th>Daily Allowance (Per Month)</th>
                    <th>Medical Allowance</th>
                    <th>Over Time Rate (Per Hour)</th>
                </tr>
            </thead>
           
        </table>
    </div>
</div>


@*Bootstrap Model Design For Add New Employee*@
<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Add New Designation</h3>
            </div>
            <div class="modal-body">
                <form id="DesignationFrom" method="post">
                    <div class="form-group">
                        <label for="Title">Designation <strong>*</strong> <b> :</b></label>
                        <input data-val="true" type="text" name="Title" id="Title" placeholder="Designation"
                               data-val-required="Enter Desination Name!" class="form-control" />
                        <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="Basic Salary">BasicSalary <strong>*</strong> <b> :</b></label>
                        <input type="number" data-val="true" name="BasicSalary" id="BasicSalary" placeholder="Basic Salary"
                               data-val-required="Enter Basic Salary!" class="form-control" />
                        <span class="field-validation-valid" data-valmsg-for="BasicSalary" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="DailyAllowance">Daily Allowance (Per Month) <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="number" name="DailyAllowance" id="DailyAllowance"
                               data-val-required="Enter Daily Allowance!" placeholder="Daily Allowance" />
                        <span class="field-validation-valid" data-valmsg-for="DailyAllowance" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="MedicalAllowance">Medical Allowance (Per Month) <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="number" name="MedicalAllowance" id="MedicalAllowance"
                               data-val-required="Enter Medical Allowance!" placeholder="Medical Allowance" />
                        <span class="field-validation-valid" data-valmsg-for="MedicalAllowance" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="OverTimeRate">Over Time Rate (Per Hour) <strong>*</strong> <b> :</b></label>
                        <input class="form-control" data-val="true" type="number" name="OverTimeRate" id="OverTimeRate"
                               data-val-required="Enter Over Time Rate!" placeholder="Over Time Rate" />
                        <span class="field-validation-valid" data-valmsg-for="OverTimeRate" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <a class="btn submit btn1" href="#" onclick="Save()">Submit</a>
                        <a class="btn submit btn2" href="#" onclick="Reset()">Reset</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function AddNewDesignation() {
            $("#ShowModal").modal();
        };
        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Employee/GetAllDesignationInfo",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [
                    { data: 'Title' },
                    { data: 'BasicSalary' },
                    { data: 'DailyAllowance' },
                    { data: 'MedicalAllowance' },
                    { data: 'OverTimeRate' }
                ]
            });

        });
        function Save() {
            $(".field-validation-valid").show();

            var data = $("#DesignationFrom").serialize();
            if (!$("#DesignationFrom").valid()) {
                return false;
            }

            $.ajax({
                type: "Post",
                url: "/Employee/SaveOrUpdateDesignation",
                data: data,
                success: function (response) {

                    var DesignationInfo = '<ul>' +
                        '<li> Designation : ' + $("#Title").val() + '</li>' +
                        '<li> Basic Salary : ' + $("#BasicSalary").val() + '</li>' 
                        + '</ul';
                    swal(
                        response,
                        '' + DesignationInfo + '',
                        'success'
                    );

                    Reset();
                    console.log('reload');
                    $('#featured-datatable').DataTable().ajax.reload(null, false);
                }
            });

            return true;

        }
        function Reset() {
            $("#DesignationFrom")[0].reset();
            $(".field-validation-valid").hide();
        }
    </script>
}

