﻿@model EMS.Entities.Employee
@{
    ViewBag.Title = "EmployeeProfile";
    Layout = "~/Views/Shared/_EmpLayOut.cshtml";
}

<link href="~/Content/profile.css" rel="stylesheet" />

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="../AppFile/Images/@Model.PicUrl" />
                </div>
                <div class="profile-head">
                    <h4>
                        @Model.FirstName @Model.LastName
                    </h4>
                    <h5>
                        @Model.Designation.Title
                    </h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-work">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Employee Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.EmployeeId</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.FirstName @Model.LastName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.Email</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.ContactNoOne</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Designation</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.Designation.Title</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Join Date</label>
                            </div>
                            <div class="col-md-6">
                                <p>: @Model.JoinDate</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Basic Salary</label>
                            </div>
                            <div class="col-md-6">
                                <p>: ৳@Model.Designation.BasicSalary</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Medical Allowance (Monthly)</label>
                            </div>
                            <div class="col-md-6">
                                <p>: ৳@Model.Designation.MedicalAllowance</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Dialy Allowance (Monthly)</label>
                            </div>
                            <div class="col-md-6">
                                <p>: ৳@Model.Designation.DailyAllowance</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate(Over Time)</label>
                            </div>
                            <div class="col-md-6">
                                <p>: ৳@Model.Designation.OverTimeRate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                
            </div>
        </div>*@
    </form>
</div>

