﻿
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveEmployee = "active";
    List<EMS.Entities.Designation> designations = ViewBag.Designation;
}
<link href="~/Content/MemberRegStyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Employee</li>
        </ul>
    </div>
</div>
<div class="bottom-30px">
    <a class="btn btn-primary" onclick="EmployeeRegistration()"><i class="fa fa-plus-square"></i> Add New Employee</a>

    <nav class="main-content-nav pull-right">
        <ul class="list-inline">
            <li><p><i class="fa fa-files-o"></i> Total Employee :@ViewBag.TotalEmp</p></li>
        </ul>
    </nav>
</div>
<div class="widget widget-table">
    <div class="widget-header">
        <h3><i class="fa fa-table"></i> Employee Info </h3>
    </div>
    <div class="widget-content">
        <table id="featured-datatable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Emp. Id</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Basic Salary</th>
                    <th>Photo</th>
                    <th>Mail</th>
                    <th>Contact No</th>
                    <th>If Change</th>
                </tr>
            </thead>

        </table>
    </div>
</div>


@*Bootstrap Model Design For Add New Employee*@
<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3>Employee Registration Form</h3>
            </div>
            <div class="modal-body">
                <form id="RegFrom" method="post" enctype="multipart/form-data">
                    <section class="PersonlInfo">
                        <fieldset>
                            <legend><b>Personal Info.</b></legend>
                            <div class="col-md-5">
                                <input type="hidden" id="Id" name="Id" value="0" />
                                <div class="form-group">
                                    <label for="EmployeeId">Employee Id <strong>*</strong><b> :</b></label>
                                    <input class="form-control" data-val="true" type="text" name="EmployeeId"
                                           data-val-required="Click Reset Button For Get New Emp ID!" id="EmployeeId" placeholder="" readonly />
                                    <span class="field-validation-valid" data-valmsg-for="EmployeeId" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="FirstName">First Name <strong>*</strong><b> :</b></label>
                                    <input class="form-control" type="text" name="FirstName" id="FirstName"
                                           data-val="true" data-val-required="Enter First Name!" placeholder="Ex. Riaz" />
                                    <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Dob">Date Of Brith <strong>*</strong><b> :</b></label>
                                    <input data-val="true" class="form-control" type="date" name="Dob"
                                           data-val-required="Enater Joining Date" id="Dob" />
                                    <span class="field-validation-valid" data-valmsg-for="Dob" data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group">
                                    <label for="ContactNoOne">Contact No. 1 <strong>*</strong><b> :</b></label>
                                    <input class="form-control" type="text" name="ContactNoOne" id="ContactNoOne" placeholder="+880 017XXXXXX"
                                           data-val="true" data-val-required="Entert Contact No.!" />
                                    <span class="field-validation-valid" data-valmsg-for="ContactNoOne" data-valmsg-replace="true"></span>

                                </div>
                                <div class="form-group">
                                    <label for="PresentAddress">Present Address<strong>*</strong> <b> :</b></label><br />
                                    <textarea class="form-control" name="PresentAddress" id="PresentAddress"
                                              data-val="true" data-val-required="Enter Present Address!" placeholder="Ex. 98,Azimpur,Dhaka-1205"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="PresentAddress" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Email">Email <strong>*</strong> <b> :</b></label>
                                    <input class="form-control" data-val="true" type="email" name="Email" id="Email"
                                           data-val-required="Enter Emial!" placeholder="Email" />
                                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

                                </div>
                                <div class="form-group">
                                    <label for="LastName">Last Name <strong>*</strong><b> :</b></label>
                                    <input class="form-control" data-val="true" type="text" name="LastName" id="LastName"
                                           data-val-required="Enter Last Name!" placeholder="Ex. Ahmed" />
                                    <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group radioBtn">
                                    <label for="Gender">Gender <b> :</b></label><br />
                                    <input type="radio" name="Gender" value="Male" id="Male" /> Male
                                    <input type="radio" name="Gender" value="Female" id="Female" /> Female
                                </div>
                                <div class="form-group">
                                    <label for="ContactNoTwo">Contact No. 2 <b> :</b></label>
                                    <input class="form-control" type="text" name="ContactNoTwo" id="ContactNoTwo" placeholder="+880 017XXXXXX" />
                                </div>
                                <div class="form-group">
                                    <label for="PermanentAddress">Permanent Address <strong>*</strong><b> :</b></label><br />
                                    <textarea class="form-control" data-val="true" name="PermanentAddress" id="PermanentAddress"
                                              data-val-required="Enter Permananet Address!" placeholder="Ex. 98,Azimpur,Dhaka-1205"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="PermanentAddress" data-valmsg-replace="true"></span>
                                </div>
                                @*<div class="form-group">
                                        <label for="password">Password <strong>*</strong><b> :</b></label><br />
                                        <input class="form-control" type="password" name="password" id="password" placeholder="Password" />
                                    </div>*@
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="thumbnail" style="width: 200px; height: 200px;">
                                        <img id="image" alt="Profile Photo" src="~/Content/Images/user.jpg" />
                                    </div>
                                    <input class="form-control" type="file" name="ImageUpload" id="ImageUpload" onchange="showImage.call(this)" />
                                </div>
                            </div>

                        </fieldset>


                    </section>

                    <section class="WorkInfo">
                        <fieldset>
                            <legend><b>Job Info.</b></legend>
                            <div class="col-md-4">
                                <label for="Role">Role <strong>*</strong> <b> :</b></label>
                                <select class="form-control" data-val="true" id="DesignationId" name="DesignationId"
                                        data-val-required="Designation Is Required!">
                                    <option value="0">--Select--</option>
                                    @foreach (var designation in designations)
                                    {
                                        <option value="@designation.Id">@designation.Title</option>
                                    }
                                </select>
                                <span class="field-validation-valid" data-valmsg-for="DesignationId" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-md-4">
                                <label for="BasicSalary">Basic Salary  <b> :</b></label>
                                <input data-val="true" class="form-control" type="number" name="BasicSalary" id="BasicSalary"
                                       data-val-required="Select Designation" placeholder="0000" />
                                <span class="field-validation-valid" data-valmsg-for="BasicSalary" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-md-4">
                                <label for="JoinDate">Work Since <strong>*</strong> <b> :</b></label>
                                <input data-val="true" class="form-control" type="date" name="JoinDate"
                                       data-val-required="Enter Joining Date" id="JoinDate" />
                                <span class="field-validation-valid" data-valmsg-for="JoinDate" data-valmsg-replace="true"></span>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a class="btn submit btn1" href="#" onclick="Save()">Submit</a>
                                    <a class="btn submit btn2" href="#" onclick="Reset()">Reset</a>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function EmployeeRegistration() {
            GetEmpId();
            $("#ShowModal").modal();
        }
        function showImage() {
            if (this.files && this.files[0]) {
                var obj = new FileReader();
                obj.onload = function (data) {
                    var image = document.getElementById("image");
                    image.src = data.target.result;
                }
                obj.readAsDataURL(this.files[0]);
            }
        }
        function GetEmpId() {
            $.ajax({
                type: 'Get',
                url: '/Employee/GetEmpId',
                success: function (EmpId) {
                    $("#EmployeeId").val(EmpId);
                }
            });
        }
        $(document).ready(function () {
            $('#featured-datatable').DataTable({
                ajax: {
                    url: "/Employee/GetAllEmployee",
                    dataSrc: ''
                },
                colReorder: {
                    realtime: true
                },
                "ordering": false,
                "aoColumns": [

                    { data: 'EmployeeId' },
                    {
                        data: null,
                        render: function (data) {
                            return data.FirstName + ' ' + data.LastName;
                        },
                        editField: ['Employee.FirstName', 'Employee.LastName']
                    },
                    { data: 'Designation.Title' },
                    { data: 'BasicSalary' },
                    {
                        "mData": "PicUrl",
                        "render": function (PicUrl) {
                            return '<img src="../AppFile/Images/' + PicUrl + '" height="50" width="60" />';
                        }
                    },
                    { data: 'Email' },
                    { data: 'ContactNoOne' },
                    {
                        "mData": "Id",
                        "render": function (Id) {
                            return '<a href="#"><i class="fa fa-trash-o"></i> Delete </a>';

                        }
                    }
                ]
            });
        });
        function Save() {
            $(".field-validation-valid").show();

            //var data = $("#RegFrom").serialize();
            if (!$("#RegFrom").valid()) {
                return false;
            }
            var formData = new FormData();
            var files = $("#ImageUpload").get(0).files;
            //formData.append("file", files[0]);
            formData.append("EmployeeId", $('#EmployeeId').val());
            formData.append("FirstName", $('#FirstName').val());
            formData.append("LastName", $('#LastName').val());
            formData.append("Dob", $('#Dob').val());
            formData.append("Email", $('#Email').val());
            formData.append("ContactNoOne", $('#ContactNoOne').val());
            formData.append("ContactNoTwo", $('#ContactNoTwo').val());
            formData.append("PresentAddress", $('#PresentAddress').val());
            formData.append("PermanentAddress", $('#PermanentAddress').val());
            formData.append("JoinDate", $('#JoinDate').val());
            formData.append("DesignationId", $('#DesignationId').val());
            formData.append("BasicSalary", $('#BasicSalary').val());
            formData.append("Gender", $("input[name='Gender']:checked").val());
            formData.append("ImageUpload", files[0]);

            var ajaxConfig = {
                type: "Post",
                url: "/Employee/SaveOrUpdateEmpInfo",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    var name = ($("#FirstName").val()) + " " + ($("#LastName").val());
                    var empInfo = '<ul>' +
                        '<li> Emp Id. : ' + $("#EmployeeId").val() + '</li>' +
                        '<li> Name : ' + name + '</li>' +
                        '<li> Email : ' + $("#Email").val() + '</li>' +
                        '<li> Mobile No. : ' + $("#ContactNoOne").val() + '</li>'
                        + '</ul';

                    swal(
                        response,
                        '' + empInfo + '',
                        'success'
                    );

                    Reset();
                    console.log('reload');
                    $('#featured-datatable').DataTable().ajax.reload(null, false);
                }
            };
            $.ajax(ajaxConfig);
            return true;

        }
        function Reset() {
            $("#RegFrom")[0].reset();
            $(".field-validation-valid").hide();
            GetEmpId();
        }

        $("#DesignationId").change(function () {
            var Id = $("#DesignationId").val();
            $("#Salary").val('');
            var json = { deductionId: Id };
            $.ajax({
                type: "POST",
                url: '/Employee/GetDesignationById',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (result) {

                    $("#BasicSalary").val(result.BasicSalary);

                }
            });
        });
    </script>
}


