﻿
@{
    ViewBag.Title = "Leave Application";
    Layout = "~/Views/Shared/_EmpLayOut.cshtml";
    ViewBag.ActiveEmpLeave = "active";
}
<link href="~/Content/MemberRegStyle.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-4 ">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="#">Home</a></li>
            <li class="active">Leave Application</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="LeaveFrom">
            <div class="form-group">
                <label for="Date">Date <strong>*</strong> <b> :</b></label>
                <input data-val="true" class="form-control" type="date"
                       data-val-required="Enter Application Date!" name="Date" id="Date" />
                <span class="field-validation-valid" data-valmsg-for="Date" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                @*<div >Leave Application</div>*@
                <label for="Application">Application <strong>*</strong> <b> :</b></label>
                <textarea class="summernote" name="Application" id="Application"></textarea>

                <div class="form-group">
                    <a class="btn btn-success" href="#" onclick="Send()">Send</a>
                    <a class="btn btn-danger" href="#" onclick="Reset()">Reset</a>
                </div>
             </div>
        </form>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 275
            });
        });
        function Send() {
            $(".field-validation-valid").show();

            //var data = $("#LeaveFrom").serialize();
            if (!$("#LeaveFrom").valid()) {
                return false;
            }
            //var app = encodeURIComponent();
            var data =
            {
                Date: $("#Date").val(),
                Application: $("#Application").summernote('code')
            };
            var ajaxConfig = {
                url: "/Employee/SendApplication",
                data: JSON.stringify(data),
                type: "Post",
                contentType: "application/json;charset=utf-8",
                dataType:"json",
                success: function (response) {
                    swal(
                        'Success', '' + response + '', 'success'
                    );

                    Reset();
                }
            };

            $.ajax(ajaxConfig);

            return true;

        }
        function Reset() {
           $("#LeaveFrom")[0].reset();
            //$("#Date").val('')
            //$("#Application").code('')
            $('#Application').summernote('code', '');
            $(".field-validation-valid").hide();
        }
    </script>
}